[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
fastapi = "*"
fastapi-event = "*"
sqlalchemy = "*"
pyjwt = "*"
celery = "*"
gunicorn = "*"
pythondi = "*"
click = "*"
redis = "*"
pydantic-settings = "*"
uvicorn = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
asyncpg = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
